@*@{
    ViewBag.Title = "Welcome";
}*@

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Welcome to Email</title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
